:root {
  --primary: #FAFAF9;
  --secondary: #89B0AE;
  --main-bg: #555B6E;
  --outline: #EA638c;
  --shadow: #F88DAD;
}

body {
  background-color: var(--main-bg);
  color: var(--primary);
  min-width: 100vw;
  min-height: 100vh;
  margin: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

}

.banner {
  display: flex;
  flex-flow: revert;
  justify-content: center;
  padding-top: 32px;
}

.banner img {
  height: 100px;
  width: 300px;

  margin: auto;
}

button {
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 4%;
  box-shadow: 2px 2px var(--outline);
  border: none;

  width: 24%;
  align-self: center;
}

button:hover {
  background-color: var(--main-bg);
}

button:disabled {
  cursor: not-allowed;
}

.small img {
  max-height: 180px;
  max-width: 180px;
  padding: 8px;
}

.expand img {
  max-width: 100%;
  height: auto;
}

.posts {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 16px;
}

.post {
  background-color: var(--secondary);
  color: var(--primary);
  box-shadow: 4px 4px var(--outline);
  
  display: flex;
  flex-flow: row nowrap;

  min-width: 600px;
  min-height: 200px;

  margin-top: 12px;
}

.post p {
  padding-left: 8px;
  margin: 8px;
}

.post-deets {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
}

.post-deets small {
  font-size: 12px;
  padding-bottom: 8px;
  padding-left: 8px;
  margin: 8px;
}

.post-input {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  width: 400px;

  margin: auto;
}

.text-deets {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.text-deets .text-id {
  font-size: 12px;
}

.small-deets {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  max-height: 24px;
}

.small-deets a {
  margin: 4px;

}

textarea {
  height: 100px;
}

.header {
  text-align: center;
  margin: auto;
}

h1 {
  margin-bottom: 4px;
}

h4 {
  padding-top: 0;
  margin-top: 4px;
}

.comments {
  padding-top: 32px;
  margin-right: 8px;
}

.comment {
  background-color: var(--secondary);
  box-shadow: 4px 4px var(--outline);
  color: var(--primary);
  
  display: flex;
  flex-flow: column row;

  min-width: 600px;
  min-height: 120px;

  margin-left: 20px;
}

.comment p {
  padding-left: 8px;
  margin: 8px;
}
.comment-deets {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
}

.comment-deets small {
  font-size: 12px;
  padding-bottom: 8px;
  padding-left: 8px;
  margin: 8px;
}

.footer {
  height: 40px;
}
